<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latihan-2</title>
    <style>
        .error{
            color:red;
        }
        .input-group{
            margin-bottom : 5px;
        }
    </style>
</head>
<body>
<div id="app">
    <header-component nama="vue.js" gambar="img/vue.png" ></header-component>

    <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/kelas">Kelas</router-link>

    </nav>

    <main>
        <!-- render secaram nanual -->
        <!-- <kelas v-bind:items="kelas" v-bind:input="kelasBaru" v-on:hapuskelas="hapuskelas($event)" v-on:submitkelas="submitkelas($event)"></kelas> -->
        <!-- <home></home> -->
        <router-view v-bind:items="kelas" v-bind:input="kelasBaru" v-on:hapuskelas="hapuskelas($event)" v-on:submitkelas="submitkelas($event)"></router-view>
    </main>

    <footer-component>
        <hr>
        <p>copyright 2020 - sinau Vue</p>
    </footer-component>
</div>    

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<!-- uuid for generate id -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>

<script>
    Vue.component('header-component', {
        props : ['nama','gambar'],
        template: `<header>
                <img :src="gambar" width="300" />
                <p>{{ 'Hello, ' +nama }}</p>
                <hr>
            </header>`
    });
    Vue.component('footer-component', {
        template: `<footer>
                    <slot></slot>
                </footer>`
    });
    
    //define local component
    const Home = {
        template : '<div>Home</div>'
    }
    const About = {
        template : '<div>About</div>'
    } 
    const NotFound = {
        template : '<div> 404 Npt Found</div>'
    } 
    const Kelas = {
        props:['items'],
        //template harus dibungkus satu element saja
        template: `
        <div>
            <h3>Tmbah Kelas.</h3>
            <form v-on:submit.prevent="submitkelas">
                <div class="input-group">
                    <label for="">Judul : </label> <br>
                    <input type="text" v-model="kelas.judul" placeholder="Judul kelas">
                    <div class="error" v-if="error.judul"> {{ error.judul }}</div>
                </div>

                <div class="input-group">
                    <label for="">Deskripsi : </label> <br>
                    <textarea type="text" v-model="kelas.deskripsi" placeholder="Deskripsi kelas"></textarea>
                </div>

                <div class="input-group">
                    <label for="">Upload Gambar : </label>
                    <img :src="previewimg" ref="gambar" v-if="previewimg" width="200">
                    <input type="file" v-on:change="upload_picture">
                </div>

                <button type="submit">submit</button>
            </form>

            <h3>Daftar Kelas ({{ items.length }})</h3>

            <template v-if="items.length >= 1">
                <ul>
                    <li v-for="(item, index) of items"> 
                        <img :src="'img/'+item.gambar" width="200"></img>
                        {{ index+1 }} - {{ item.judul }}
                        <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                    </li> 
                </ul>
            </template>
            <li v-else>Kelas Belum tersedia</li>
        </div>`
        /* $emit untuk component anak mengakses ke component induk */
        ,
        data: function(){
            return{
                kelas: {
                    judul:'',
                    deskripsi: '',
                    gambar : '',
                },
                previewimg:'',
                error: {
                    judul :'',
                    deskripsi : ''
                }
            }
        },
        methods: {
            submitkelas: function(){
                if(this.kelas.judul == ''){
                    this.error.judul = 'judul is required'
                }
                //console.log(this.kelas);
                const data={
                    id : uuidv4(),
                    judul: this.kelas.judul,
                    deskripsi: this.kelas.deskripsi,
                    gambar: this.kelas.gambar
                }
                this.$emit('submitkelas', data);

                this.kelas.judul = '';
                this.kelas.deskripsi = '';
                this.kelas.gambar = '';
                this.previewimg = '';
                //mengosongkan input type file
                this.$refs.gambar.value = '';
            },
            upload_picture: function(event){
                const img= event.target.files[0].name;
                this.kelas.gambar = img;
                this.previewimg = URL.createObjectURL(event.target.files[0]);
            }
        }
    }

    //router
    const routes =[
        {path: '/', component: Home },
        {path: '/about', component: About }, 
        {path: '/kelas', component: Kelas },
        {path: '*', component: NotFound }
    ]
    const router = new VueRouter({
        mode : 'history',
        routes // short for `routes: routes`
    })


    //base componenet
    const vm = new Vue({
        el: "#app", 
        router,
        components : {
            'home' : Home
        },
        data: {
            kelas: [
                {id:1, judul:'vuejs', deskripsi : 'The progressive jaavscipt framework', gambar:'vue.png'},
                {id:2, judul:'reactjs', deskripsi : 'a javascript library for building user interfaces', gambar:'react.png'}
            ],
            kelasBaru:""
        },
        methods: {
            hapuskelas: function(id){
                //this.kelas.splice(index, 1);
                this.kelas = this.kelas.filter(item => item.id != id);
            },
            submitkelas: function(data){
                this.kelas.unshift(data);
            }
        },
        computed: {
            
        }
    });
</script>
</body>
</html>