<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latihan-2</title>
</head>
<body>
<div id="app">
    <header-component nama="vue.js" gambar="img/vue.png" ></header-component>

    <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/kelas">Kelas</router-link>

    </nav>

    <main>
        <!-- render secaram nanual -->
        <!-- <kelas v-bind:items="kelas" v-bind:input="kelasBaru" v-on:hapuskelas="hapuskelas($event)" v-on:submitkelas="submitkelas($event)"></kelas> -->
        <!-- <home></home> -->
        <router-view v-bind:items="kelas" v-bind:input="kelasBaru" v-on:hapuskelas="hapuskelas($event)" v-on:submitkelas="submitkelas($event)"></router-view>
    </main>

    <footer-component>
        <hr>
        <p>copyright 2020 - sinau Vue</p>
    </footer-component>
</div>    

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    Vue.component('header-component', {
        props : ['nama','gambar'],
        template: `<header>
                <img :src="gambar" width="300" />
                <p>{{ 'Hello, ' +nama }}</p>
                <hr>
            </header>`
    });
    Vue.component('footer-component', {
        template: `<footer>
                    <slot></slot>
                </footer>`
    });
    
    //define local component
    const Home = {
        template : '<div>Home</div>'
    }
    const About = {
        template : '<div>About</div>'
    } 
    const Kelas = {
        props:['items'],
        //template harus dibungkus satu element saja
        template: `
        <div>
            <h3>Tmbah Kelas.</h3>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="$emit('submitkelas', $event)"></p>

            <h3>Daftar Kelas ({{ items.length }})</h3>

            <template v-if="items.length >= 1">
                <ul>
                    <li v-for="(item, index) of items"> {{ index+1 }} - {{ item.judul }}
                        <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                    </li> 
                </ul>
            </template>
            <li v-else>Kelas Belum tersedia</li>
        </div>`
        /* $emit untuk component anak mengakses ke component induk */
        ,
        data: function(){
            return{
                
            }
        },
        methods: {
            
        }
    }

    //router
    const routes =[
        {path: '/', component: Home },
        {path: '/about', component: About }, 
        {path: '/kelas', component: Kelas }
    ]
    const router = new VueRouter({
        mode : 'history',
        routes // short for `routes: routes`
    })


    //base componenet
    const vm = new Vue({
        el: "#app", 
        router,
        components : {
            'home' : Home
        },
        data: {
            kelas: [
                {id:1, judul:'vuejs', deskripsi : 'The progressive jaavscipt framework', gambar:'vuejs.jpg'},
                {id:2, judul:'reactjs', deskripsi : 'a javascript library for building user interfaces', gambar:'react.jpg'}
            ],
            kelasBaru:""
        },
        methods: {
            hapuskelas: function(id){
                //this.kelas.splice(index, 1);
                this.kelas = this.kelas.filter(item => item.id != id);
            },
            submitkelas: function(event){
                text = event.target.value;
                this.kelas.unshift(text);
            }
        },
        computed: {
            
        }
    });
</script>
</body>
</html>