<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <h1>What is Vue.js</h1> -->
        <!-- contoh interpolation sytax -->
        <!-- v-once tidak bisa diedit atau dimodify / nilanaya tetap-->
        <h1 v-once>{{ name }}</h1>
        <!-- expression -->
        <h3>{{ name+" testing".toUpperCase() }}</h3>
        <h5>{{ isactive ? 'success' : 'error!' }}</h5>
        <h5>{{ getname() }}</h5>
        <!-- <h5>{{ ubahNama("tesnmabaru") }}</h5> -->

        <!-- contoh computed -->
        <h5>{{ namaLengkap }}</h5>
        <h6>{{ bilangan }}</h6>
        <p>bilangan ini {{ infoBilangan }}</p>

        <!-- directive V -->
        <!-- <h1 v-text="link"></h1>  untuk cetak text-->
        <h1 v-html="link"></h1>
        <!-- untuk binding element html -->
        <h6 v-text="bilangan*5"></h6>
        <!-- directive binding -->

        <!-- attribute binding -->
        <!-- karena tidak bisa src="{{ gambar }}" -->
        <img v-bind:src="gambar" width="400" />
        <!-- v-bind:src / :src -->

        <!-- event -->
        <h1>{{ bilangan }}</h1>
        <h3>bilangan ini {{ infoBilangan }}</h3>
        <button v-on:click="handleClick()">Tambah Bilangan</button>
        <br />
        <!-- v-on:click / @click -->

        <!-- class binding -->
        <button v-bind:class="{active: menu === 'home'}" @click="menu = 'home' ">
            Home
        </button>
        <button v-bind:class="{active: menu === 'about'}" @click="menu = 'about' ">
            About
        </button>
        <button v-bind:class="{active: menu === 'blog'}" @click="menu = 'blog' ">
            Blog
        </button>

        <!-- two way data binding v-model-->
        <br>
        <input type="text" v-model="name">
        <h4>{{ kelas }}</h4>
        <label><input type="checkbox" value="vue" name="" id="" v-model="kelas">vue</label>
        <label><input type="checkbox" value="react" name="" id="" v-model="kelas">react</label>
        <label><input type="checkbox" value="angular" name="" id="" v-model="kelas">angular</label>

        <!-- directive v-for -->
        <br>
        <!-- directive if -->
        <ul v-if="kelas.length > 1">
            <li v-for="(item, index) in kelas">{{ index+1 }} - {{ item }}</li>
            <!-- bisa pakai 'in' / 'of' -->
        </ul>
        <li v-else> Kelas belum tersedia</li>
        <!-- directive harus sejajara / setlah element v-if -->

        <!-- directive vshow hanya bermain pada property css diubah display menajadi none -->
        <ul v-show="kelas.length > 1">
            <li v-for="(item, index) in kelas">{{ index+1 }} - {{ item }}</li>
            <!-- bisa pakai 'in' / 'of' -->
        </ul>

        <!-- elemen template -  menampilkan di dalam block-->
        <template v-if="kelas.length > 1">
            <ul>
                <li v-for="(item, index) in kelas">{{ index+1 }} - {{ item }}</li>
            </ul>
        </template>

        <h3>Perualangan (1-5)</h3>
        <ul>
            <li v-for="x in 5">{{ x }}</li>
        </ul>
        <h3>mencari bil Genap : {{ numbers }}</h3>
        <ul>
            <li v-for="x in cariBilanganGenap(numbers)">{{ x }}</li>
        </ul>

        <!-- directive v-if dengan key -->
        <!-- memeungkinakn untuk emnggunkana berulangan contoh sepeerti toggle-->
        <!-- penambhaan key berfungis agar input memiliki data yang berbeda / elemetn terpisah -->
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
        <button @click="myToggleFunction(loginType)">Change Login Type</button>
        <small>Login type : {{ loginType }}</small>
    </div>

    <footer>
        <hr />
        <p>The progressive Javascript Framework</p>
        <hr />
        <p>copyright 2019</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        //root component
        const vm = new Vue({
            el: "#app", // <-properti
            //data : member
            data: {
                // <-properti
                //string , number, boolean, array, object
                name: "doremi fasilasido",
                message: "hello wordl",
                isactive: true,
                //properti untuk computed
                qty: 1,
                nameDepan: "raditya",
                namaBelakang: "putranto",
                bilangan: 3,
                link: '<a href="">link testing</a>',
                gambar: "img/react.png",
                menu: "home",
                /* kelas: ["golang", "python", "php"], */
                //directive else
                kelas: [],
                loginType : 'username',
                numbers: [1, 2, 3, 4, 5]
            },
            methods: {
                getname: function () {
                    return "Hello, " + this.name;
                },
                ubahNama: function (nameBaru) {
                    this.name = nameBaru;
                    //bisa panggil data / fungsi lain
                    //return getName()
                },
                handleClick: function () {
                    this.bilangan++;
                    this.gambar = "img/vue.png";
                },
                cariBilanganGenap: function (data) {
                    return data.filter(angka => {
                        return angka % 2 == 0
                    })
                },
                myToggleFunction: function(data){
                    if(data == "username"){
                        this.loginType = "email";
                    }
                    else{
                        this.loginType = "username";
                    }
                }
            },
            computed: {
                //definisi computed
                /* bila salah satu properti terupdate dan 
                properti lainnya yang tergantung pada 
                properti tersebut akan terupdate semua */
                totalBayar: function () {
                    return this.qty * 10000;
                },
                namaLengkap: function () {
                    return this.nameDepan + "-" + this.namaBelakang;
                },
                infoBilangan: function () {
                    return this.bilangan % 2 === 0 ? "GENAP" : "GANJIL";
                },
            },
        });

        //contoh obejct
        const member = {
            name: "raditya",
            messasge: "test pesan",
        };
    </script>
</body>

</html>