<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latihan-2</title>
</head>
<body>
<div id="app">
    <header-component nama="vue.js" gambar="img/vue.png" ></header-component>

    <main>
        <kelas v-bind:items="kelas" v-bind:input="kelasBaru"></kelas>
        <home></home>
    </main>

    <footer-component></footer-component>
</div>    

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
    Vue.component('header-component', {
        props : ['nama','gambar'],
        template: `<header>
                <img :src="gambar" width="300" />
                <p>{{ 'Hello, ' +nama }}</p>
                <hr>
            </header>`
    });
    Vue.component('footer-component', {
        template: `<footer>
                    <hr>
                    <p>copyright 2020 - sinau Vue</p>
                </footer>`
    });
    Vue.component('kelas', {
        props:['items','input'],
        //template harus dibungkus satu element saja
        template: `
        <div>
            <h3>Tmbah Kelas.</h3>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit_vmodel" v-model="input"></p>

            <h3>Daftar Kelas ({{ items.length }})</h3>

            <template v-if="items.length > 1">
                <ul>
                    <li v-for="(item, index) of items"> {{ index+1 }} - {{ item }}</li>
                </ul>
            </template>
            <li v-else>Kelas Belum tersedia</li>
        </div>`,
        data: function(){
            return{
                
            }
        },
        methods: {
            submit_vmodel: function(event){
                this.items.push(this.input);
                this.input.value = "";
            }
        }
    });
    
    //define local component
    const Home = {
        template : '<div>Home</div>'
    }
    const vm = new Vue({
        el: "#app", 
        components : {
            'home' : Home
        },
        data: {
            kelas: ["golang", "python", "php"],
            kelasBaru:""
        },
        methods: {
            
        },
        computed: {
            
        }
    });
</script>
</body>
</html>